@import '/src/globalStyle/variables';
.lessons_header {
	background-size: cover;
	width: 100%;
	width: 1900px;
	height: 116px;
}

// Search and filter

// Filter
.search_filter {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 8%;
	align-items: center;
	flex-direction: row;
	gap: 300px;
	margin-top: 50px;
}

.filter {
	background-image: $gradient_color;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.select {
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px;
	outline: none;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: $primary_font;
	&:hover {
		cursor: pointer;
	}
}

.option {
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px;
	outline: none;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: $primary_font;
}

// Search
.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 50px;
}

.vol {
	position: absolute;
	z-index: 1;
}

.search_img {
	position: absolute;
	margin-left: 95%;
	z-index: 1;
}

.input {
	border: none;
	box-shadow: 0px 2px 16px 0px rgba(21, 19, 113, 0.25);
	max-width: 590px;
	width: 100vw;
	border-radius: 30px;
	height: 40px;
	padding-left: 60px;
	font-size: 1rem;
	font-family: $primary_font;
	font-weight: 400;
}

// All lessons box

.lessons_box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 50px;
	gap: 50px;
}

// One lesson box

.lesson {
	position: relative;
	max-width: 400px;
	width: 100vw;
}

.img_lesson {
	max-width: 400px;
	max-height: 230px;
	border-radius: 20px;
}

.centerOverlay {
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Play btn lessons

.button_play {
	background: none;
	border: none;
	position: absolute;
	top: 100px;
	left: 230px;
	&:hover {
		cursor: pointer;
	}
}

.imageContainer {
	position: relative;
}

// Info

.time_lessons {
	position: absolute;
	top: 200px;
	left: 390px;
	background-image: $gradient_color;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.time_box {
	background-color: white;
	width: 100px;
}

.name_les_btn_share {
	display: flex;
	justify-content: start;
	gap: 10px;
	align-items: center;
	height: 20px;
}

.name_les {
	max-width: 360px;
	width: 100%;
	height: 10px;
	font-size: 1.375rem;
}

.btn_share {
	border: none;
	background: none;
}

.img_share {
	padding-top: 10px;
}

.date {
	color: rgba(131, 131, 130, 1);
	height: 5px;
}

.info {
	max-width: 390px;
	width: 100vw;
	text-align: left;
	font-size: 0.75rem;
	color: rgba(58, 58, 56, 1);
}

// Channel styles

.channel_box {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	gap: 50px;
}

// Box styles img star view comment

.channel {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.img_channel {
	max-width: 50px;
	max-height: 50px;
	border-radius: 30px;
}

.name_view_com {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.view_comm_box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-direction: row;
}

.name_channel {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 10px;
	max-width: 140px;
	width: 100vw;
}

.view_comment {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 20px;
}

.img_view_com {
	max-width: 13px;
	max-height: 13px;
}

.num_view_com {
}

// Button buy lessons styles

.buy_btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: $gradient_color;
	border: none;
	max-width: 160px;
	width: 100vw;
	padding: 10px;
	max-height: 40px;
	border-radius: 10px;
	gap: 5px;
	transition: 0.3s all;
	&:hover {
		opacity: 0.9;
		cursor: pointer;
	}
}

.img_buy {
}

.text_buy {
	font-size: 1.2rem;
	color: $primary_color;
}

.num_buy {
	font-family: $primary_font;
	color: $primary_color;
	font-weight: 700;
	font-size: 1.1rem;
}
