@import '/src//globalStyle/variables';
.box_auth {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 427px;
	// height: 693px;
	height: auto;
	border-radius: 15px;
	margin-top: 200px;
	background-color: rgba(255, 255, 255, 1);
}

.closeModal {
	top: 3%;
	left: 80%;
	right: 0;
	border: none;
	background: none;
	cursor: pointer;
	position: absolute;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 2rem;
	font-family: $secondary_font;
	font-weight: 800;
	height: 35px;
	background-size: 100%;
	background: linear-gradient(
		88.41deg,
		#05ad25 -16.74%,
		#0294a1 51.95%,
		#181381 120.63%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 40px;
}

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 30px;
}

.input_auth {
	width: 305px;
	height: 50px;
	padding-left: 10px;
	top: 207px;
	left: 36px;
	border-radius: 10px;
	border: none;
	font-size: 1rem;
	&::placeholder {
		font-size: 1rem;
	}
}

// Checkbox
.rules {
	position: relative;
	display: flex;
	align-items: start;
	justify-content: left;
	flex-direction: row;
	margin-bottom: 120px;
	width: 355px;
}
.button {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.input_checkbox {
	display: none; /* Скрываем стандартный чекбокс */
}

.checkbox {
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	position: relative;
	margin-right: 10px;
	transition: background-color 0.3s, border-color 0.3s;
}

.checked {
	background-color: #007bff; /* Цвет фона при включении чекбокса */
	border-color: #007bff; /* Меняем цвет обводки */
}

.checkbox:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 2px;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	display: none;
}

.checked:after {
	display: block; /* Показываем белую галочку при включении чекбокса */
}

.text {
	display: flex;
	justify-content: start;
	align-items: left;
	width: 313px;
	font-family: $primary_font;
	font-size: 1rem;
	font-weight: 500;
	text-align: left;
	color: $black_color;
	margin-bottom: 20px;
}

.button {
	background-color: none;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	background-size: 100%;
	background-image: $gradient_color;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.login_or_reg {
	background-color: none;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	background-size: 100%;
	background-image: $gradient_color;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	&:hover {
		cursor: pointer;
	}
}

.send_form {
	max-width: 250Spx;
	height: 50px;
	padding: 7px 65px 8px 66px;
	border-radius: 10px;
	border: none;
	background-image: $gradient_color;
	font-size: 1rem;
	color: $primary_color;
}
