.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 1920px;
	width: 100%;
	background-image: url('./img/app_bg_top.svg');
	background-position: top;
	/* background-size: full 110px; */
}
